
@media only screen and (max-width: 600px) {
	div.daftar-barang-cont div.kolom {
		width: 25%;
	}	

	/* header {
		height: 150px;
	} */

	header p.deskripsi {
		font-size: small;
	}

}


@media only screen and (max-width: 400px) {
	div.daftar-barang-cont div.kolom {
		width: 33%;
	}

	header {
		text-align: center;
	}

	header p.deskripsi {
		font-size: small;
		text-align: center;
		position: static;
	}

	/* header {
		height: 100px;
	} */

	div.footer h1 {
		font-size: small;
	}
	
	
}