div.daftar-barang-cont div.item {
	/* width: 20%; */
	font-size: 11px;
	padding: 4px;
	cursor: pointer;
	float:none;
	background-color: white;
	text-align: center;
	/* border: 1px solid gray; */
	margin-bottom: 8px;
	box-shadow: 0px 0px 0px 2px rgba(0,0,0,0.1);
}

div.daftar-barang-cont div.item img.kecil {
	max-width: 80%;
	/* max-height: 100px; */
}

div.daftar-barang-cont div.item img.besar {
	width: 80%;
}

div.daftar-barang-cont div.item p.harga {
	color: orangered;
	font-weight: bold;
}

div.daftar-barang-cont div.item p.wa,
div.daftar-barang-cont div.item p.id {
	display: none;
}

div.daftar-barang-cont div.item p.deskripsi-singkat {
	display: none;
}

div.daftar-barang-cont div.item p.chat {
	font-size: small;
	display: none;
}

div.daftar-barang-cont div.item a.chat img {
	max-width: 80%;
}

div.daftar-barang-cont div.item img.besar {
	display: none;
}

div.daftar-barang-cont div.item div.deskripsi-panjang {
	display: none;
}

div.daftar-barang-cont div.item div.cont p.tutup {
	display: none;
}