<div class='halaman' data-hal="{{hal}}" data-jml="{{jml}}">
	<div class='content'>
		<a href="{{link_pertama}}" class="pertama {{class_pertama}}">&lt&lt</a>
		<a href="{{link_sebelumnya}}" class="sebelumnya {{class_sebelumnya}}">&lt</a>
		<a href="{{link_angka0}}" class="angka0 {{class_angka0}}">{{angka0}}</a>
		<a href="{{link_angka1}}" class="angka1 {{class_angka1}}">{{angka1}}</a>
		<a href="{{link_angka2}}" class="angka2 {{class_angka2}}">{{angka2}}</a>
		<a href="{{link_selanjutnya}}" class="selanjutnya {{class_selanjutnya}}">&gt</a>
		<a href="{{link_terakhir}}" class="terakhir {{class_terakhir}}">&gt&gt</a>
	</div>
</div>