<!DOCTYPE html>
<html>
<meta name="viewport" content="width=device-width, initial-scale=1">

<head>
	<title>Auni Store </title>

	<meta property="og:site_name" content="Auni Store">
	<meta property="og:title" content="{{og_title}}" />
	<!-- Belanja Mudah, Murah dari Rumah -->
	<meta property="og:description" content="{{og_deskripsi}}" />
	<!-- http://www.aunistore.com/gambar/aunistore.png -->
	<meta property="og:image" itemprop="image" content="{{og_gambar}}">
	<meta property="og:type" content="website" />
	<!--  http://aunistore.com -->
	<meta property="og:url" content="{{og_url}}">
	<meta property="og:updated_time" content="1440432930" />

	<link rel='stylesheet' href="/admin/css/css.css" />
	<link rel='stylesheet' href="/admin/css/item.css" />
	<link rel='stylesheet' href="/admin/css/hal-item.css" />
	<link rel='stylesheet' href="/admin/css/media.css" />
</head>

<body>
	<nomodule style='display:none'>
		<h1>Maaf, sepertinya browser Anda tidak didukung oleh applikasi ini. Silahkan upgrade browser Anda.</h1>
	</nomodule>

	<div class='header-cont'>
		{{header}}
		{{cari}}
	</div>

	<div class='nav-cont'>
		<a class='nav' href='{{nav_src}}'>BERANDA</a> |
		<a class='lapak-daftar' href='{{lapak_daftar_src}}'>LAPAK</a> |
		<!-- <a class='tautan-daftar' href='{{tautan_daftar_src}}'>TAUTAN</a> -->
	</div>
	<hr />

	<div class="{{daftar-barang-cont-class}}">
		{{content}}
	</div>

	{{halaman}}

	<div class='footer'>
	</div>

	{{js}}
</body>

</html>