<html>
<meta name="viewport" content="width=device-width, initial-scale=1">

<head>
	<title>Auni Store </title>
	<link rel='stylesheet' href="./css/css.css" />
	<!-- <link rel='stylesheet' href="./css/item.css" /> -->
	<!-- <link rel='stylesheet' href="./css/item-focus.css" /> -->
	<!-- <link rel='stylesheet' href="./css/media.css" /> -->
</head>

<body>
	<header>
		<p> </p>
		<h1 class='judul-toko'>Auni Store</h1>
		<p class='deskripsi'>Herbal, Vitamin dan kebutuhan sehari-hari</p>
	</header>

	<daftar-barang-cont>
		{{content}}
	</daftar-barang-cont>
	<div class='clear'></div>
	<br />
	<br />
	<br />

	<div class='footer'>
		<h1>Auni Store</h1>
		<p>Perum Taman Melati Blok FE 07</p>
		<br />
		<br />
		<small>Image by <a
				href="https://pixabay.com/users/tommyvideo-3092371/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=1779559">Tomislav
				Jakupec</a> from <a
				href="https://pixabay.com/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=1779559">Pixabay</a></small>
	</div>

	<script src="./js/BaseComponent.js"></script>
	<script src="./js/AppToko.js"></script>
</body>

</html>