<item class=''>
	<div class='cont'>
		<p class='tutup'><button>X</button></p>
		<img class='kecil' src="./gambar/kosong.png" gbr='{{gbrThumb}}'>
		<img class='besar' src="./gambar/kosong.png" gbr='{{gbrBesar}}'>
		<p class='nama-barang'>{{nama}}</p>
		<p class='deskripsi-singkat'>{{deskripsi}}</p>
		<div class='deskripsi-panjang'>{{deskripsiPanjang}}</div>
		<p class='harga'>{{harga}}</p>
		<p class='chat'>
			Untuk pembelian dan informasi, silahkan klik tombol chat
		</p>
		<a class='chat' href="{{wa-link}}">
			<img src='gambar/walogo3.png'>
		</a>
		<p class='wa'>{{wa}}</p>
	</div>
</item>